body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  display:flex;
  flex-direction: column;
}

header{
  position: absolute;
}

.bg-img{
  position: relative;
  height: max-content;
}

.greens{
  color: rgba(1, 163, 58, 1);
}

.navbar{
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar div{
  margin: 0 480px 0 50px;
  font-weight: 600;
  font-size: 35px;
}

.navbar li{
  display: inline;
  padding: 10px 0;
  margin: 0 15px;
  position: relative;
}

.navbar a{
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  border-radius: 10px;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

main{
  position: absolute; 
}

.box{
  background-color: rgba(85, 84, 84, 0.6);
  height: 600px;
  width: 1258px;
  position: absolute;
  top: 150px;
  left: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  padding: 40px 0;
}

.who{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.we{
  margin-left: 200px;
  margin-right: 200px;
  font-size: 26px;
  font: 500;
}

.hl{
  font-weight: bold;
}

.vis-mis{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  font-size: 26px;
  text-align: center;
}

.vis-mis p{
  margin-top: 10px;
  margin-bottom: 40px;
}

.vis-mis ul{
  list-style: none;
  margin-top: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.vis-mis li{
  display: inline-block;
}